<div class="month-selector">
  <app-month-selector
    [monthToShow]="calendarService.getMonthToShow()"
  ></app-month-selector>
</div>

<div class="calendar">
  <div class="calendar__header">
    @for (day of dayNames; track $index) {
      <div class="calendar__header-content">
        {{ day }}
      </div>
    }
  </div>

  <div class="calendar__body">
    @for (day of calendarUIDays(); track $index) {
      <div
        class="calendar__body-content"
        [ngClass]="{'calendar__body-content--disabled': day.monthPos !== monthPos.Current}"
      >
        {{ day.index }}
      </div>
    }
  </div>
</div>
